<% if users.any? %>
  <ul class="list-unstyled ">
    <% users.each do |user| %>
      <li class="border">
        <div class="d-sm-inline-block">
          <% if user.image? %>
            <%= image_tag user.image.thumb.url, class: "ml-2 mr-2 rounded" %>
          <% else %>
            <img class="ml-2 mr-2 rounded" src="/assets/thumb_default.png" alt="デフォルトイメージ">
          <% end %>
        </div>
        <div class="d-sm-inline-block">
          <div>
            <P><%= link_to user.name, user_path(user) %></P>
          </div>
          <!--フォローボタン入れる-->
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>