<div class="user_link">
  <ul>
    <li>Follower</li>
    <li>Followings</li>
    <li>Favorites</li>
  </ul>
</div>

<div class="post">
  <div class="category_link">
    <li class="category">All categories</li>
    <li class="category">Men's perm</li>
    <li class="category">Men's color</li>
    <li class="category">Ladies' perm</li>
    <li class="category">Ladies' color</li>
  </div>
</div>