<div class="categories">
  <div class="panel">
    <div class="category1">
      <%= link_to "Men's perm", mensperms_path %>
    </div>
  </div>
  <div class="panel">
    <div class="category2">
      <%= link_to "Men's color", menscolors_path %>
    </div>
  </div>
  <div class="panel">
    <div class="category3">
      <%= link_to "Ladies' perm", ladiesperms_path %>
    </div>
  </div>
  <div class="panel">
    <div class="category4">
      <%= link_to "Ladies' color", ladiescolors_path %>
    </div>
  </div>
</div>
