<div class="text-center mb-5">
  <h1>hairshot</h1>
</div>

<div id="wrapper">
  <div class="text-center pt-5">
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    <h2>カテゴリ一覧</h2>
  </div>
  <div class="categories mt-5">
    <div class="category_perm">
      <div class="category">
        <img src="" alt="Mens purm画像">
        <h3>Men's perm</h3>
      </div>
      <div class="category">
        <img src="" alt="Ladies purm画像">
        <h3>Ladies' perm</h3>
      </div>
    </div>
    <div class="category_color mt-5">
      <div class="category">
        <img src="" alt="Mens color画像">
        <h3>Men's color</h3>
      </div>
      <div class="category">
        <img src="" alt="Ladies color画像">
        <h3>Ladies' color</h3>
      </div>
    </div>
</div>