<div id="wrapper">
  <div class="text-center mt-5">  
    <h2>投稿一覧</h2>
  </div>
  
  <div class="categories mt-5 d-flex flex-row justify-content-around">
    <div class="men's_category">
      <div class="category border">
        <%= link_to "Men's color", menscolors_path %>
      </div>
      <div class="category border">
        <%= link_to "Men's perm", mensperms_path %>
      </div>
    </div>
    
    <div class="ladies'_category">
      <div class="category border">
        <%= link_to "Ladies' color", ladiescolors_path %>
      </div>
      <div class="category border">
        <%= link_to "Ladies' perm", ladiesperms_path %>
      </div>
    </div>
  </div>
</div>