body {
  font-family: "Shuei KakuGo Gin M",sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #808080;
  background-color: #EEEEED;
  font-size: 14px;
  line-height: 18px;
}

#wrapper {
  width: 960px;
  height: 100%;
  max-width: 100%;
  margin: auto;
  pdding: 0 10px;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
  line-height: 1.6;
  color: #232734;
}

a {
  color: #808080;
  cursor: pointer;
}

a:visited {
  color: #333;
}

a:hover {
  color: #C0C0C0;
  font-weight: 700;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.pagination {
  justify-content: center;
}

li {
  max-width: 100%;
}

/*ヘッダー*/
header {
  background-color: #E7EBEC;
  border-bottom: 1px solid;
  border-color: #A3B1BF;
}

.navbar {
  width: 960px;
  max-width: 100%;
  margin: auto;
  justify-content: space-between;
}

.nav-link .image {
  height: 20px;
  width: 20px;
  object-fit: cover;
  border: double;
  border-color: #808080;
}

.navbar-brand {
  font-family: monospace;
  font-size: 30px;
  margin: 10px 0 0 10px;
}

/*general_user マイページ*/
.mypage_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  border-color: #A3B1BF;
}

.mypage_header a {
  height: 100%;
  padding-top: 10px;
}

.likes ul {
  text-align: center;
  display: flex;
  margin-left: 100px
}

@media screen and (max-width: 900px) {
  .likes ul {
    display: block;
  }
}

.likes ul li {
  margin-right: 50px;
}

.likes ul li .datetime p {
  font-size: 5px;
}

.content_image img {
  height: 200px;
  width: 200px;
  object-fit:none;
}

.likes span {
  margin-left: 100px;
}

.likes span a {
  color: #808080;
}

.likes p {
  margin-left: 100px;
}

.follow_user ul {
  text-align: center;
  display: flex;
  margin-left: 100px
}

@media screen and (max-width: 900px) {
  .follow_user ul {
    display: block;
  }
}

.follow_user ul li {
  margin-right: 50px;
}

.follow_user ul li img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.follow_user span {
  margin-left: 100px;
}

.follow_user span a {
  color: #808080;
}

.follow_user p {
  margin-left: 100px;
}

/*users　マイページ*/

.header_icon {
  margin: 20px 0 20px 20px;
  display: flex;
}

.header_icon .image {
  border-style: double;
  border-color: #808080;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.header_icon .user_name h1 {
  font-size: 28px;
  font-weight: bold;
}

.user_profile h1 {
  font-size: 15px;
}

.setting .btn {
  border-color: #A3B1BF;
}

.post_link ul {
  width: 960px;
  max-width: 100%;
}

.post_link ul li {
  width: 20%;
}

.post_link ul li a {
  color: #808080;
}

.post_link ul li .active {
  background-color: #A3B1BF !important;
}

/*users 一覧*/
.users_page .user_list {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 20px auto;
  border: 1px solid;
  border-color: #A3B1BF;
  border-radius: 5px;
  background-color: #EEF2F5;
}

.users_page .user_list a {
  margin-left: 20px;
}

.users_page .user_list img {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.user_list {
  padding: auto;
  border: 1px solid;
  border-color: #A3B1BF;
  border-radius: 5px;
  background-color: #EEF2F5;
}

/*posts　投稿*/
.contents {
  text-align: center;
}

.content {
  width: 550px;
  margin: 20px auto;
  border: 1px solid;
  border-color: #A3B1BF;
  border-radius: 5px;
  background-color: #EEF2F5;
}

.content_header {
  display: flex;
  justify-content: space-between;
}

.content_header img {
  height: 20px;
  width: 20px;
  object-fit: cover;
  margin-left: 10px;
}

.content_header img, p {
  margin-top: 10px;
}

.content_title a {
  font-size: 20px;
  color: #808080;
}

.dropdown .btn {
  color: #808080;
}

.datetime p {
  color: #808080;
}

/*トップページ*/
.categories {
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 700;
}

.panel {
  height: 200px;
  width: 200px;
  background-color: #CDD8E4;
  position: relative;
  text-align: center;
}

.category1 {
  border: 5px double;
  border-color: #2C5083;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 20px;
}

.category2 {
  border: 5px double;
  border-color: #2C5083;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.category3 {
  border: 5px double;
  border-color: #2C5083;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 20px;
}

.category4 {
  border: 5px double;
  border-color: #2C5083;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 20px;
}

