<div class="row">
  <div class="offset-sm-2">
    <h1>一般ユーザー新規登録</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render "form", general_user: @general_user %>
  </div>
</div>