<div>
  <h2>マイページ</h2>
  <%= link_to "情報を編集する", edit_general_user_path(@general_user) %>
</div>

<div class="likes">
  <div class="likes_title">
    <h3>お気に入りスタイル</h3>
  </div>
  <div class="likes_contents">
    
  </div>
</div>

<div class="follow">
  <div class="follow_title">
    <h3>お気に入りユーザー</h3>
    <%= render "users/users", users: @followings %>
    <%= link_to "全て見る", followings_general_user_path(@general_user) %>
  </div>
  <div class="follow_contents">
    
  </div>
</div>